
@import "variable"; // library.less
@import "functions"; // library.less

body{
	@load_default_font();

	.main-block{
		min-height: @min-block-height;
		padding: 20px 0;
	}

	#nav_img{
		background: url(@nav_image);
		background-size: cover;
		background-position: center;
		.fill;
		height: @nav_height;
		position: absolute;
	}

	.navholder{
		margin: auto;
		color: white;
		height: @nav_height;
		position: relative;

		#title{
			font-size: 50px;
			font-weight: 100;
			text-shadow: 0 0 10px #000;
			letter-spacing: 2px;
			color: #fff;
			margin-bottom: 32px;
		}

	}

	#skill-block{
		.text-center;

		.thumbnail{
			display: inline-block;
		}
	}

}