@red: red;
@font_default: DroidSans;

@min-block-height: 300px;
@nav_image: '/assets/images/navbar.jpeg';
@nav_height: 500px;

@thumbnail-max-size: 180px;
@default-padding: 8px;
@font-title-size: 26px;

@font-face {
  font-family: @font_default;
  src: url( Fonts/DroidSansFallback.ttf );
}

@load_default_font: {font-family: @font_default;};
