@font-face {
  font-family: DroidSans;
  src: url(Fonts/DroidSansFallback.ttf );
}
.fill {
  width: 100%;
  height: 100%;
}
.table {
  display: table;
}
.table_cell {
  display: table-cell;
}
.center {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
body {
  font-family: DroidSans;
}
body .block {
  min-height: 300px;
}
body #nav_img {
  background: url('/assets/images/navbar.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  height: 400px;
  position: absolute;
}
body .navholder {
  margin: auto;
  color: white;
  height: 400px;
  position: relative;
}
body .navholder #title {
  font-size: 50px;
  font-weight: 100;
  text-shadow: 0 0 10px #000;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 32px;
}
